<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container mt-4">
    <a class="btn btn-primary mb-3" href="/">Home</a>
    <h3>FIT2095 Operations</h3>
    <table class="table">
      <thead class="table-dark">
        <tr><th>Operation</th><th>Example URL</th></tr>
      </thead>
      <tbody>
        <tr><td>Add</td><td>/add/4/2</td></tr>
        <tr><td>Subtract</td><td>/sub?no1=5&no2=3</td></tr>
      </tbody>
    </table>
  </div>
</body>

</html>
